/***************************************TAG SELECTORS******************************************************/

body {
    font-family: "DM sans";
}

h1 {
    font-family: "Space Mono";
}

h2 {
    font-size: 56px;
    font-weight: 600;
}

h3 {
    font-size: 2rem;

}
/***************************************CLASS SELECTORS******************************************************/

/* Buttons */

.btn-light {
    border-color: black;
    background-color: #6667AB;
    color: white;
    width: 150px;
    
}

.explore-button:hover {
    background-color: #6667AB;
    box-shadow: rgb(0 0 0) 6px 6px 0px;
    color: white;
}

.explore-button-skills {
    background-color: white;
    box-shadow: rgb(0 0 0) 6px 6px 0px;
    color: black;
    margin-top: 80px;
    margin-left: 200px;
}

.explore-button-skills:hover {
    background-color: #FAEA48;
    box-shadow: rgb(0, 0, 0) 6px 6px 0px;
    color: black;
}

.button-skills-details {
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-right : 5px;
}

.button-skills-details:hover {
    background-color: #FAEA48;
    border: 1px solid black;
    box-shadow: rgb(0, 0, 0) 6px 6px 0px;
    color: black;
    margin-right : 10px;
}

.skills-buttons {
    display: flex; /*positionner les éléments enfants de manière flexible*/
    flex-wrap: wrap; /*empêche les éléments de s'enrouler sur une nouvelle ligne*/
}

.footer-button {
    background-color: white;
    color: black;
}

.footer-button:hover {
    box-shadow: rgb(0, 0, 0) 6px 6px 0px;
    color: black;
}


/* Navigation bar */

.search-navbar {
    width: 370px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Introduction */

.form-intro {
    margin-right: 5px;
    border-color: black;
}

.search-intro {
    margin-top: 60px;
    width: 600px;
}

.intro {
    font-family: "Ubuntu";
    font-weight:300;
    font-size: 90px;
}

.intro-1 {
    margin-top: 50px;
}

.intro-2 {
    margin-left: 120px;
}


/* Skills */

.fa-icon-skills {
    margin-bottom: 20px;
    color: #FAEA48;
}

.row {
    margin-bottom: 60px;
}


/* Details */

.details-title {
    font-family: "ubuntu";
    font-weight: 900;
    margin-bottom: 2rem;
}

.row-cols-auto {
    margin-bottom: 30px;
}


/* Footer */

.footer-mb {
    width: 100%;
    font-size: 9vw;
    padding-top: 30px;
}

.form-footer {
    background-color: transparent;
    border-color: white;
    display: inline-block;
    width: auto;
}




/***************************************ID SELECTORS******************************************************/

#navigation-bar {
    text-align: center;
    background-color: #6667AB;
}

#introduction {
    padding: 7% 10%;
    padding-bottom: 20px;
}

#skills {
    padding: 7% 10%;
    padding-bottom: 20px;
    background-color: #6667AB;
    color: white;
}

#details {
    padding: 7% 10%;
    padding-bottom: 0;
}


#footer {
    padding: 7% 10%;
    padding-bottom: 20px;
    background-color: #6667AB;
    color: white;
}